{% if not files.all %}
    <div><i>None</i></div>
{% else %}
    {% for file in files.all %}
        <li data-type="file" data-id="{{ file.id }}">
            <span data-field="file_name" data-value="{{ file }}"></span>
            <a href="{% url 'lms:handle_file' slug=project.slug action="download" file_id=file.id %}" download>{{ file }}</a>

            {{ file.file_size_str }}
            <button data-bs-toggle="modal" data-bs-target="#deleteFileModal" data-action="delete"
                    data-url="{% url 'lms:handle_file' slug=project.slug action="delete" file_id=file.id %}">Delete
            </button>
        </li>
    {% endfor %}
{% endif %}