{% extends 'appboard/base.html' %}
{% load modal_tags %}

{% block head_title %}
    LMS - {{ project.name }}
{% endblock %}

{% block extra_head %}
    <style>
        #LMS_CONTENT li {
            border-left: 1px var(--ofx-blue) dotted;
            margin-left: 1em;
            padding-left: 1em;
            width: auto;
        }

        #LMS_CONTENT li:last-child {
            margin-bottom: 2em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ project.name }} - Lot/Plan Management System</h1>
    <div id="LMS_CONTENT" class="row">
        <i>Opening any of the checkbox menus will refresh the content inside them.</i>
        <label for="parcel">
            <b>Parcels</b>
        </label>
        {% comment %}
        The start of our parcel tree
        {% endcomment %}
        <ol data-category="parcel">
            {{ parcel_content }}
        </ol>

        {% comment %}
        A series of model forms for all the various actions. Would be worthwhile considering merging the new and modify
        forms together since they essentially perform the same function.

        Also consider who has permission to do what exactly.
        {% endcomment %}
        {% modalform id="newOwner" title="New Owner" %}
            {% csrf_token %}
            {{ owner_form.as_p }}
        {% endmodalform %}
        {% modalform id="newNote" title="New Note" %}
            {% csrf_token %}
            {{ note_form.as_p }}
        {% endmodalform %}
        {% modalform id="newCorrespondence" title="New Correspondence" %}
            {% csrf_token %}
            {{ correspondence_form.as_p }}
        {% endmodalform %}
        {% modalform id="newTask" title="New Task" %}
            {% csrf_token %}
            {{ task_form.as_p }}
        {% endmodalform %}
        {% modalform id="newReminder" title="New Reminder" %}
            {% csrf_token %}
            {{ reminder_form.as_p }}
        {% endmodalform %}

        {% modalform id="modifyOwner" title="Modify Owner" %}
            {% csrf_token %}
            <input id="id_parcel" type="text" name="parcel" hidden>
            <input id="id_owner" type="text" name="owner" hidden>
            {{ owner_form.as_p }}
        {% endmodalform %}
        {% modalform id="modifyNote" title="Modify Note" %}
            {% csrf_token %}
            <input id="id_note" type="text" name="note" hidden>
            {{ note_form.as_p }}
        {% endmodalform %}
        {% modalform id="modifyCorrespondence" title="Modify Correspondence" %}
            {% csrf_token %}
            <input id="id_correspondence" type="text" name="correspondence" hidden>
            {{ correspondence_form.as_p }}
        {% endmodalform %}
        {% modalform id="modifyTask" title="Modify Task" %}
            {% csrf_token %}
            <input id="id_task" type="text" name="task" hidden>
            {{ task_form.as_p }}
        {% endmodalform %}
        {% modalform id="modifyReminder" title="Modify Reminder" %}
            {% csrf_token %}
            <input id="id_reminder" type="text" name="reminder" hidden>
            {{ reminder_form.as_p }}
        {% endmodalform %}

        {% modalform id="deleteOwner" title="Delete Owner" %}
            {% csrf_token %}
            <input id="id_parcel" type="text" name="parcel" hidden>
            <input id="id_owner" type="text" name="owner" hidden>
            Delete the owner <b name="first_name" type="plaintext"></b> <b name="last_name" type="plaintext"></b>?
        {% endmodalform %}
        {% modalform id="deleteNote" title="Delete Note" %}
            {% csrf_token %}
            <input id="id_owner" type="text" name="owner" hidden>
            <input id="id_note" type="text" name="note" hidden>
        {% endmodalform %}
        {% modalform id="deleteCorrespondence" title="Delete Correspondence" %}
            {% csrf_token %}
            <input id="id_owner" type="text" name="owner" hidden>
            <input id="id_correspondence" type="text" name="correspondence" hidden>
        {% endmodalform %}
        {% modalform id="deleteTask" title="Delete Task" %}
            {% csrf_token %}
            <input id="id_owner" type="text" name="owner" hidden>
            <input id="id_task" type="text" name="task" hidden>
        {% endmodalform %}
        {% modalform id="deleteReminder" title="Delete Reminder" %}
            {% csrf_token %}
            <input id="id_owner" type="text" name="owner" hidden>
            <input id="id_reminder" type="text" name="reminder" hidden>
        {% endmodalform %}

        {% modalform id="revertHistory" title="Revert to Here" %}
            {% csrf_token %}
            <i>This only updates the history tab currently. The owner/parcel is changed in the database though. Refresh the content and you'll see.</i>
            <input id="id_owner" type="text" name="owner" hidden>
            <input id="id_parcel" type="text" name="parcel" hidden>
            <input id="id_history" type="text" name="history" hidden>
        {% endmodalform %}

        {% modalform id="deleteFile" title="Delete File" %}
            {% csrf_token %}
            Delete <b name="file_name" type="plaintext"></b>?
            <input id="id_parcel" type="text" name="parcel" hidden>
            <input id="id_file" type="text" name="file" hidden>
        {% endmodalform %}
    </div>

{% endblock %}


{% block extra_body %}
    <script>
        let $LMS = $('#LMS_CONTENT');

        {% comment %}
        This code is specific to how the base template and the other templates are put together
        the code will likely require changing should you wish to change how this page is viewed.
        {% endcomment %}
        $LMS.on('click', 'input[type="checkbox"][data-category]', function (e) {
            {% comment %}
            Just used to open/close each section. We perform queries for each section in case we
            end up having hundreds of queries all at once. Each section has its own template which is loaded
            into the container div as HTML rather than raw data.
            {% endcomment %}
            let $checkbox = $(this);
            let $li = $checkbox.parent('li[data-type][data-id]');

            let url = $checkbox.data('url');
            let category = $checkbox.data('category');
            let $container = $checkbox.siblings(`ol[data-category="${category}"]`);

            {# If checkbox is checked populate, otherwise empty the container #}
            if ($checkbox.is(':checked')) {
                $.ajax({
                    method: "GET",
                    url: url,
                    data: {
                        [$li.data('type')]: $li.data('id')
                    },
                    beforeSend: function () {
                        $container.html('<i>Loading...</i>');
                    },
                    success: function (response) {
                        $container.html(response.html);
                    },
                    error: function () {
                        $container.html('<i style="color: red;">Error!</i>');
                    },
                });
            } else {
                $container.html('');
            }

            return true;

        })
            .on('submit', 'form', function (e) {
            e.preventDefault();

            let $form = $(this);
            let formData = new FormData($form[0]);
            let $btn = $form.find(`button[type="submit"]`);
            let $modal = $form.closest('.modal');
            let originalBtnHTML = $btn.html();

            console.log(formData);

            $.ajax({
                method: "POST",
                url: $form.prop('action'),
                data: formData,
                processData: false,
                contentType: false,
                enctype: "multipart/form-data",
                beforeSend: function () {
                    $btn.addSpinner();
                },
                success: function (response) {
                    $form.data('container').html(response.html);
                    $form.resetForm();
                    $modal.modal('hide');
                },
                error: function (response) {
                    $form.displayFormErrors(response['responseJSON']);
                },
                complete: function () {
                    $btn.removeSpinner(originalBtnHTML);
                }
            });
        })
            .on('hide.bs.modal', '.modal', function (e) {
            {% comment %}
            This is just to stop the modalforms from closing if the form is invalid upon submission.
            {% endcomment %}
            let $modal = $(this);
            let $form = $modal.find('form');
            let $trigger = $(document.activeElement);

            if ($trigger.prop('type') === 'submit') {
                if (!$form[0].checkValidity()) {
                    e.preventDefault();
                    e.stopPropagation();
                }
            }
        })
            .on('show.bs.modal', '.modal', function (e) {
            let $modal = $(this);
            let $form = $modal.find('form');
            let $e = $(document.activeElement);
            {# Actual button action #}
            let action = $e.data('action');

            {# Container section for the button, this is a sibling of the 'new' button and a parent of the 'delete' and 'modify' buttons#}
            let $container;
            if (action === 'new') {
                let category = $e.closest('label').attr('for');
                $container = $e.closest('li').find(`ol[data-category="${category}"]`);
            } else {
                $container = $e.closest('ol[data-category]');
            }

            {# Set some form properties #}
            $form.prop('action', $e.data('url'));
            $form.data('container', $container);

            {# Fill the input for the parent id/type #}
            $e.parentsUntil($LMS, 'li').each(function(i, element) {
                let data = $(element).data();
                let $field = $form.find(`[name="${data.type}"`);

                $field.val(data.id);
            });

            {# Now populate the fields if we're modifying or deleting #}
            if (action !== 'new') {

                $e.closest('table').find('[data-field][data-value]').each(function (i, element) {
                    let data = $(element).data();
                    let $field = $form.find(`[name="${data.field}"`);

                    {#console.log(data.field, data.value, $field);#}

                    if ($field.prop('type') === 'checkbox') {
                        $field.prop('checked', data.value);
                    } else if ($field.attr('type') === 'plaintext') {
                        $field.text(data.value);
                    } else {
                        $field.val(data.value);
                    }
                });
            }

        });
    </script>
{% endblock %}