{% if not items %}
    <div><i>None</i></div>
{% else %}
    {% for reminder in items %}
        <li data-type="reminder" data-id="{{ reminder.id }}">
            <table>
                <tbody>
                <tr>
                    <th>Title:</th>
                    <td>
                        <span data-field="name" data-value="{{ reminder.name }}">{{ reminder.name }}</span>
                        <button data-bs-toggle="modal" data-bs-target="#deleteReminderModal" data-action="delete"
                                data-url="{% url 'lms:handle_reminder' slug=project.slug action="delete" %}">Delete
                        </button>
                        <button data-bs-toggle="modal" data-bs-target="#modifyReminderModal" data-action="modify"
                                data-url="{% url 'lms:handle_reminder' slug=project.slug action="modify" %}">Modify
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Content:</th>
                    <td data-field="content" data-value="{{ reminder.content }}">{{ reminder.content }}</td>
                </tr>
                <tr>
                    <th>Date Due:</th>
                    <td data-field="date_due" data-value="{{ reminder.date_due|date:'Y-m-d' }}">{{ reminder.date_due }}</td>
                </tr>
                <tr>
                    <th>Date Created:</th>
                    {# READONLY #}
                    <td>{{ reminder.date_created }} by {{ reminder.user }}</td>
                </tr>
                <tr>
                    <th>Last Modified:</th>
                    {# READONLY #}
                    <td>{{ reminder.date_updated }} by {{ reminder.user_updated }}</td>
                </tr>
                <tr>
                    <th>Files:</th>
                    <td>
                        <ol>
                            {% include 'lms/files.html' with project=project files=reminder.files %}
                        </ol>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    {% endfor %}
{% endif %}